.all {
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll; */
    font-size: x-large;
    overflow-wrap: break-word;
}

.section {
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* scroll-snap-align: start; */
}

.logoRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    margin-block: 1rem;
}

.logo {
    height: 7rem;
    display: block;
}

.title {
    margin-block: 0rem;
    font-size: 8rem;
}

.infoCards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    flex: 1;
    padding-block: 1rem;
}

.infoCards > * {
    padding: 2rem;
    flex: 1 1 0px;
    display: grid;
    place-items: center;
}

.infoCards > *:nth-child(2n + 1) {
    background-color: var(--nord2);
}

.infoCards > *:nth-child(2n) {
    background-color: var(--nord1);
}

.infoCards > *:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 0.5rem;
}

.infoCards > *:first-child > * {
    border-bottom: 5px solid var(--nord4);
    padding: 0.5rem;
}

.dl {
    padding-inline: 1rem;
    width: calc(100% - 2rem);
}
.dl li{
    list-style-position: outside;
    text-indent: -1.5em;
    padding-left: 1.5em;
    
}
.dl > dt {
    width: fit-content;
    background-color: var(--nord2);

    margin-bottom: 1rem;
    padding: 1rem;
}

.dl > dd {
    background-color: var(--nord1);
    margin-bottom: 2rem;
    padding: 1rem;
}

@media only screen and (max-width: 1000px) {
    .title {
        font-size: 5rem;
    }
    .infoCards {
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {
    .title {
        font-size: 4rem;
    }
    .logo {
        height: 5rem;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 3rem;
    }
    .logo {
        width: fit-content;
        height: 3rem;
    }
}

