@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
.all {
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll; */
    font-size: x-large;
    overflow-wrap: break-word;
}

.section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* scroll-snap-align: start; */
}

.logoRow {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin-block: 2rem;
    
}

.logo {
    height: 10rem;
    display: block;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsors{
    color: var(--nord12);
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 8px;
}
.title {
    letter-spacing: 10px;
    margin-block: 5rem;
    font-size: 5rem;
    font-family: 'Press Start 2P', cursive;

}
.tagline{
    margin-top: -25px;
    font-size: 23px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 4em;
}
.subtitle{
    margin-top: 5em;
    font-size: 23px;
    font-family: 'Press Start 2P', cursive;
}
.qr{
    margin-top: 20px;
    height: 8em;
    border-radius: var(--nord17);
}
.infoCards {
    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    flex: 1;
    padding-block: 1rem;
}

.infoCards > * {
    width: 275px;
    align-items: center;
    padding: 2rem;
    border-radius: var(--nord17);
    display: grid;
    place-items: center;
}

.infoCards > *:nth-child(2n + 1) {
    background-color: var(--nord2);
}

.infoCards > *:nth-child(2n) {
    background-color: var(--nord2);
}

.infoCards > *:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 0.5rem;
}

.infoCards > *:first-child > * {
    border-bottom: 5px solid var(--nord4);
    padding: 0.5rem;
}
 
.dl {
    padding-inline: 1rem;
    width: calc(100% - 2rem);
    border-radius: var(--nord16);
    
}
.dl li{
    list-style-position: outside;
    text-indent: -1.5em;
    padding-left: 1.5em;
    border-radius: var(--noed16);
    
}
.dl > dt {
    width: fit-content;
    background-color: var(--nord2);
    border-radius: var(--nord18);
    
    margin-bottom: 1rem;
    padding: 1rem;
}

.dl > dd {
    background-color: var(--nord1);
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: var(--nord16);
    
}

@media only screen and (max-width: 1000px) {
    .title {
        font-size: 5rem;
    }
    .infoCards {
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {
    .title {
        font-size: 4rem;
    }
    .logo {
        height: 5rem;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 3rem;
    }
    .logo {
        width: fit-content;
        height: 3rem;
    }
}

.schedule{
    font-size: 20px;
}
