.App {
    font-family: var(--fonth);
    text-align: center;
    margin: 10px;
  }
  
  .question-section {
    background-color: var(--nord1);
    border: none;
    border-radius: var(--nord18);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    width: 92vw;
    color: white;
  }
  
  .question-align {
    align-items: center;
    display: flex;
    min-height: 10px;
    text-align: left;
  }
  
  .question-align h4 {
    margin-left: 8px;
  }
  
  .question-styling {
    font-size: 17px;
    width: 100%;
    font-family: var(--fonth);
  }
  
  .question-icon {
    background: none;
    border: none;
    color: #1b6aae;
    cursor: pointer;
    font-size: 30px;
    margin-left: auto;
    margin-right: 8px;
    transition: 0.3s ease;
  }
  
  .rotate {
    transform: rotate(180deg);
    transition: 0.3s ease;
  }
  
  .answer-divider {
    border-top: 1px solid lightgray;
  }
  
  .answer {
    color: white;
    margin-left: 8px;
    margin-right: 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    text-align: left;
  }
  