.challenges {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-left: -1rem;
  }
  
  .challengesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .challengesGrid > * {
    flex: 0 0 calc(25% - 2rem);
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  
  .centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  