.all {
    background-color: var(--header-footer-black);

    display: flex;
    flex-direction: row;
}

.logos {
    padding: 1rem 0.5rem;
}

.name {
    padding: 1rem 0.5rem;
    margin-left: auto;
}

.links {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    margin-left: auto;
}

.link {
    padding: 1rem 0.5rem;
    display: block;
    color: var(--nord5);
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    color: var(--nord13);
}

.link.active {
    color: var(--nord12);
    border-bottom: 3px solid var(--nord12);
}

